* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  color: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: black;
  font-size: 40px;
}

button {
  background-color: #808080;
}

button:active {
  filter: brightness(120%);
}

#screen {
  color: black;
}

#ac, #signkey, #percentkey {
  background-color: #292929;
}

#dividekey, #multiplykey, #subtractkey, #addkey, #equalskey {
  background-color: #ffa31a;
}

body {
  background-color: #89CFF0;
}
#calculator {
  border: solid 5px black;
  border-radius: 5px;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: black;
}

#screen {
  flex: 1;
  background-color: whitesmoke;
  border: solid 5px #292929;
}

#panel {
  flex: 4;
  display: flex;
  flex-direction: column;
}

#calculator button {
  border-radius: 5px;
}

#panel>* {
  flex: 1;
}

.row, .lastrow {
  display: flex;
}

.row>* {
  flex: 1;
}

#zero {
  flex: 2.25;
}

.lastrow #decimalkey, .lastrow #equalskey {
  flex: 1;
}






